li= link_to "Progress", progress_admin_candidates_path
li= link_to "Probability", probability_candidates_admin_candidates_path
li= link_to "Setting", admin_pages_setting_path
li= link_to "Import CSV", import_csv_new_admin_candidates_path
